body, html {
  background-color: violet;
}

body li {
  list-style-type: none;
  float: left;
}

body a {
  text-decoration: none;
}

.container {
  background: white;
  border: 10px solid black;
  width: 300px;
  padding-bottom: 50px;
  margin: 0 auto;
}

.container h1 {
  text-align: center;
}

.container li {
  padding-right: 15px;
}